/* Sidebar Styling */
#sidebar {
    width: 250px;
    height: 100vh;
    background: #111;
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;

    /* SIDEBAR HIDDEN BY DEFAULT */
    transform: translateX(-250px);
    transition: transform 0.3s ease;
}

/* Sidebar links */
#sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
}

#sidebar a:hover {
    background: #575757;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

/* Open button */
.open-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

/* Main content */
.content {
    margin-left: 20px;
    padding: 20px;
}
